/*
    1- Common Style
    2- General CSS Style
    3- Section
        3.0- Header Style
        3.1- Home Section
        3.2- About Section
        3.3- Portfolio Section
        3.4- Service Section
        3.5- Prices Section
        3.6- Team Section
        3.7- Blog Section
        3.8- Contact Section


*/
















/* 1- Common Style
    
    - overlay
    - opacity hover
    - section header
    - section padding
    - hover effect 1 ( left to right ) 
    - hover effect 2 ( top to bottom ) 
    - 
*/


.overlay {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.hover-opacity {
    transition: opacity .5s;
}

.hover-opacity:hover {
    opacity: 0.8;
}

.ltr-effect,
.tb-effect {
    position: relative;
}
.tb-effect:after,
.ltr-effect:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #1C1D21;
    z-index: -1;
}

.tb-effect:after {
    height: 0;
    transition: height 0.2s;
}

.ltr-effect:after {
    width: 0%;
    transition: width 0.2s;
}

.tb-effect:hover:after {
    height: 100%;
}

.ltr-effect:hover:after {
    width: 100%;
}




/* 2- General CSS Style */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* CSS 3 */   
}

:root {
    --mainColor : #6195FF;
}

.container {
    width: 80%;
    margin: auto;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.clear {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-family: montserrat,sans-serif;
}

button {
    font-family: inherit; 
}

ul {list-style: none;}

a {
    text-decoration: none;
}

.pd-y {
    padding: 120px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-header .section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.section-header .line {
    display: block;
    background-color: var(--mainColor);
    height: 5px;
    width: 60px;
    margin: 0 auto 70px auto;
}

.header-content {
    /* overflow: hidden; */
}

/* 3.0- Header Style */

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header .logo {
    width: 40%;
    float: left;
}
.header .logo img {
    width: 20%;
    margin-top: 15px;
}

.header .nav {
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}

.header .nav > li {
    display: inline-block;
    text-align: right;
}

.header .nav > li > a {
    color:white;
    font-size: 15px;
    padding: 30px 15px;
    display: block;  
}

.header .nav > li > a.active:after,
.header .nav > li > a:after {
    content: "";
    display: block;
    height: 3px;
    margin-top: 2px;
    background-color: var(--mainColor);
    transition: width 0.5s;
}

.header .nav > li > a.active:after {
    width: 100%;
}

.header .nav > li > a:after {
    width: 0;
}

.header .nav > li > a:hover:after {
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background: var(--mainColor);
    width: 150px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}


/* 3.1- Home Section */

.home {
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover; /* CSS 3 */
    background-attachment: fixed;
    position: relative;
}

.home-content {
   position: absolute;
   top: 50%; 
   left: 50%;
   transform: translate(-50%,-50%); 
   text-align: center;
}

.home .title {
    color: fff;
    font-size: 3.6rem;
    text-transform: uppercase;
}

.home-desc {
    margin:10px 0;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.5;
}

.home .btn {
    min-width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}

.home .btn-start {
    background-color: #fff;
    margin-right: 10px;
}

.home .btn-learn {
    background-color: var(--mainColor);
    color: #fff;
}


/* 3.2- About Section */

.about {

}

.about-content {
    overflow: hidden;
}

.about-item {
    width: 30%;
    float: left;
    text-align: center;
    border: 2px solid #e8e8e8;
    padding: 50px 20px;  
}

.about-item:hover .about-item-title {
    color: #fff;
} 

.about-item.mg {
    margin: 0 5%;
}

.about-item .icon {
    color: var(--mainColor);
    margin-bottom: 10px;
}

.about-item-title {
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}

.about-item-desc {
    line-height: 1.6;
    margin-bottom: 10px;
    margin-right: 48px;
    margin-left: 48px;
    color: #999;
}

.about-item-link {
    color: var(--mainColor);
    text-transform: capitalize;
}
/* 3.3- Portfolio Section */

.portfolio {
    background-color: #f9f9f9;
}

.portfolio-content {
    overflow: hidden;
}

.portfolio-item {
    width: 32%;
    float: left;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
}

.portfolio-item .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s
}

.portfolio-item:hover .layer-content {
    opacity: 1;
    visibility: visible;
}

.layer-content .layer-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
}

.layer-content .category {
    color: var(--mainColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 10;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.2s;
}

.layer-content-title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    top: 10;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.3s;
}

.layer-content a {
    color: #fff;
    position: relative;
    top: 10;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.3s;
}

.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a,
.portfolio-item:hover .layer-content .category {
    top: 0;
    opacity: 1;
}

.layer-content a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--mainColor);
    line-height: 40px;
}

.portfolio-item img {
    width: 100%;  
}

.portfolio-item.mg {
    margin: 0 2%;
}

/* 3.4- Offer Section */

.offer {

}

.offer-content {
    overflow: hidden;
}

.offer-item {
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}

.offer-item.mg {
    margin: 0 5%;
}

.offer-item .icon {
    position: absolute;
    top: 30px;
    left: 15px;
    color: var(--mainColor);
}

.offer-item-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.5s;
}

.offer-item-desc {
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #868F9B;
}

.offer-item:hover .offer-item-title {color: #fff;}

/* Service Section */

.service {
    background-color: #f9f9f9;
}

.service-item {
    width: 50%;
    float: left;
}

.service-item .section-header {
    text-align: left;
}

.service-item .section-header .line {margin: 0 0 40px 0;}

.service-item-desc {
    padding-right: 20px;
    color: #868F9B;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.service-list {
    list-style: none;
}

.service-list li {
    margin-bottom: 10px;
    color: #868F9B;
}

.service-list li i {
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.service-item-img img {
    width: 100%;
}

.service-bollets {
    list-style: none;
    text-align: center;
}

.service-bollets li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #868F9B;
    margin: 10px 5px;
    border-radius: 50%;
}

.service-bollets li.active,
.service-bollets li:hover {background-color: var(--mainColor);}

/* Numbers Section */

.numbers {
    position: relative;
    background-image: url(../images/background/background2.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

.numbers-items {
    overflow: hidden;
    padding: 100px 0;
}

.number-item {
    width: 25%;
    float: left;
    text-align: center;
}

.number-item .icon {
    color: var(--mainColor);
    margin-bottom: 15px;
}

.number-item-title {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.number-item-text {
    color: #fff;
}
/* 3.5- Prices Section */

.pricing {

}

.pricing-plans {
    overflow: hidden;
}

.pricing-item {
    width: 30%;
    float: left;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.pricing-item.mg {margin: 0 5%;}

.pricing-item-text {
    text-transform: none;
    color: #999;
    font-size: 17px;
    transition: color 0.2s;
}

.pricing-item-permonth {
    width: 130px;
    height: 130px;
    padding: 20px 0;
    margin: 20px auto;
    border: 2px solid var(--mainColor);
    border-radius: 50%;
}

.pricing-item-permonth .doller {
    font-size: 50px;
    transition: color 0.2s;
}

.pricing-item-permonth .month {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: color 0.2s;
}

.pricing-list {list-style: none;}

.pricing-list li {
    color: #999;
    margin-bottom: 10px;
}

.pricing-item-purchase {
    width: 140px;
    display: block;
    padding: 10px;
    margin: 15px auto 0 auto;
    border: 2px solid var(--mainColor);
    background: none;
    color: var(--mainColor);
}

.pricing-item:hover .pricing-item-text {color: var(--mainColor);}

.pricing-item:hover .pricing-item-permonth .doller,
.pricing-item:hover .pricing-item-permonth .month {
    color: #fff;
}

/* Testimonials Section */

.testimonial {
    position: relative;
    background-image: url(../images/background/background3.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.testimonial-content {
    overflow: hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}

.testimonial-item {
    width: 50%;
    float: left;
    color: #fff;
    padding-right: 20px;
}

.testimonial-toplayer {
    position: relative;
    padding: 10px 2px 40px 100px;
}

.testimonial-toplayer img {
    position: absolute;
    left: 10;
    top: -5px;
    border-radius: 50%;
}

.testimonial-toplayer h3 {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.testimonial-toplayer span {
    color: var(--mainColor);
    text-transform: uppercase;
}

.testimonials-desc {
    font-size: 17px;
    line-height: 1.5;
}
/* 3.6- Team Section */

.team {

}

.team-content {
    overflow: hidden;
}

.team-item {
    width: 30%;
    float: left;
    background-color: #e8e8e8;
    padding: 40px 0px;
    text-align: center;
    
}

.team-item.mg {margin: 0 5%;}

.team-img {
    width: 90%;
    margin: auto;
    position: relative;
}

.team-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.team-overlay a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--mainColor);
    color: #fff;
    margin-left: auto;
    opacity: 0.8;
}

.team-overlay a:hover {
    opacity: 0.5;
}

.team-overlay i {line-height: 40px;}

.team-img img {width: 100%;}

.team-info-title {
    text-transform: capitalize;
    margin: 10px 0;
    transition: color 0.5s;
}

.team-info-text {
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}

.team-item:hover .team-overlay {
    opacity: 1;
    visibility: visible;
}

.team-item.tb-effect {z-index: 1;}

.team-item:hover .team-info-title {color: #fff;}

.team-item:hover .team-info-text {color: var(--mainColor);}

/* 3.7- Blog Section */

.blog {
    background-color: #f8f8f8;
}

.blog-content {
    overflow: hidden;
}

.blog-item {
    width: 30%;
    float: left;
}

.blog-item.mg {margin: 0 5%;}

.blog-item-img {
    
}

.blog-item-info {padding: 20px;}

.blog-list {
    list-style: none;
}

.blog-list li {
    display: inline-block;
    margin: 10px 5px;
}

.blog-list li i {color: var(--mainColor);}

.blog-item-img img {width: 100%;}

.blog-item-title {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
}

.blog-item-desc {
    color:#868F9B;
    line-height: 1.5;
    margin-bottom: 20px;
}

.blog-item a {
    color: var(--mainColor);
    transition: opacity 0.2s;
}

.blog-item a:hover {opacity: 0.8;}

/* 3.8- Contact Section */

.contact {
    
}

.contact-content {
    overflow: hidden;
    text-align: center;
}

.contact-item {
    width: 33.3%;
    float: left;
}

.contact-item i {
    color: var(--mainColor);
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-title {
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 700px;
}

.contact-text {
    color: #868F9B;
    margin: 15px 0;
    display: block;
}

::placeholder {
    color: #bec1c5;
    
    transition: color 0.5s;
}

input:focus::placeholder, 
textarea:focus::placeholder {color:rgb(80, 80, 80);}

.input-name {
    padding: 10px 10px 10px 0px;
    width: 367px;
    height:40px;
    border: none;
    margin-right: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: #F4F4F4;
    font-size: 17px;
}

.input-email {
    padding: 10px 10px 10px 0px;
    width: 367px;
    height:40px;
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: #F4F4F4;
    font-size: 17px;
}

.input-subject {
    display: block;
    margin: auto;
    padding: 10px 10px 10px 0px;
    width: 749px;
    height:40px;
    border: none;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: #F4F4F4;
    font-size: 17px;
}

.input-message {
    display: block;
    margin: auto;
    padding: 10px 10px 10px 0px;
    min-width: 749px;
    padding-left: 10px;
    border: none;
    background-color: #F4F4F4;
    font-size: 17px;
}

.btn-send-message {
    padding: 15px 20px;
    background-color: var(--mainColor);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 30px;
    width: 185px;
    height: 50px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn-send-message:hover {opacity: 0.8;}

/* Footer Section */

.footer {
    background-color: #1C1D21;
    height: 345px;
    text-align: center;
}

.footer-content {
    
}

.footer img {
    margin-top: 60px;
}

.footer-links {
    list-style: none;
    margin-top: 40px;
}

.footer-links li {
    display: inline-block;
}

.footer-links li a {
    color: #fff;
    background-color: var(--mainColor);
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: background-color 0.2s;
}

.footer-links li a:hover {background-color: #2e60c5;}

.footer-links li a i {line-height: 50px;}

.footer p {
    color: #868F9B;
    font-size: 14px;
    margin-top: 15px;
}

.footer p a {color: var(--mainColor);}

        
        
        
        
        
        
        
